* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
}

.underline {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.underline::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    width: 100%;
    height: 5px;
}
.btn-small {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.btn-big {
    padding: 1.4rem 2.5rem;
    border-radius: 2.5rem;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}